
<div class="paginator">
    <div class="listTabs">
        <ul>
            <li *ngFor="let nameTab of listTabs" (click)="selectTab(nameTab)" >{{nameTab}}</li>
        </ul>
    </div>
    <div class="tab" *ngIf="inputSelected === 'machine'">
        <odell-config-machine></odell-config-machine>
        <odell-list-machine></odell-list-machine>
    </div>
    <div class="tab" *ngIf="inputSelected === 'filament'">
        <odell-filament></odell-filament>
        <odell-list-filaments ></odell-list-filaments>
    </div>
    <div class="tab" *ngIf="inputSelected === 'basic'">
        <div class="basic">
            <div class="colum">
                <odell-brand></odell-brand>
                <odell-list-brand></odell-list-brand>
            </div>
            <div class="colum">
                <odell-material></odell-material>
                <odell-list-type-material></odell-list-type-material>
            </div>
            <div class="colum">
                <odell-color></odell-color>
                <odell-list-color></odell-list-color>
            </div>
        </div>

        
    </div>
</div>