:host{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    .basic{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 16px;
        .colum{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-flow: column;
            gap: 20px;
            width: 100%;
        }
    }
    .paginator{
        width: 1200px;
        margin: 20px;
        border: 1px solid #000;
        border-radius: 20px;
        overflow: hidden;
        .listTabs{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            box-shadow: 0px 1px 10px #000;
            ul{
                box-sizing: border-box;
                width: 100%;
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1px;
                background-color: #000;
                li{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 20px;
                    background-color: #ccc;
                }
            }
            cursor: pointer;
        }
         .tab{
            padding: 16px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-flow: column;
            gap: 20px;
        }
    }



}