<odell-card-resume>
    <div class="container-list">
        <div class="title">
           <ng-content select="h3"></ng-content>
        </div>
        <div class="container-table">
          <table>
              <thead>
                <tr>
                  <ng-container *ngFor="let title of titles" >
                  <th scope="col" i18n="@@names_table" *ngIf="title !== 'id'">
                    {title, select, 
                      name {Nombre} 
                      id {Identificador} 
                      cant {Cantidad} 
                      price {Precio} 
                      other {{{title}}}
                    }
                  </th> 
                  </ng-container>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items;">
                  <ng-container *ngFor="let title of titles; let i = index">
                    <ng-container *ngIf="title !== 'id'">
                      <th *ngIf="i === 0" scope="row">{{ item[title] }}</th>
                      <td *ngIf="i > 0"><span *ngIf="title === 'price'">$</span> {{ item[title] }} </td>
                    </ng-container>
                  </ng-container>
                  <td *ngIf="btnedit"><button class="edit" (click)="handlerBtn('edit',item)">Editar</button></td>
                  <td *ngIf="btndelete"><button class="delete"  (click)="handlerBtn('delete',item)">Borrar</button></td>
                </tr>  
              </tbody>
            </table>
      </div>
    </div>
</odell-card-resume>
 



