
<odell-form>
    <span>Crear Producto</span>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="row">
                <odell-input size="medium" inputName='name' [formControlInput]="formControlName('name')" >Nombre</odell-input>
                <odell-input size="small" inputName='cant' [formControlInput]="formControlName('cant')">Cantidad</odell-input>
                <odell-select inputName="type" [formControlInput]="formControlName('type')">
                    <label>Type</label>
                    <option [value]="0">Accesorio</option>
                    <option *ngFor="let type of $types | async" [value]="type.id">{{ type.type }}</option>
                </odell-select>
        </div>
        <div class="row" *ngIf="formControlName('type').value == 0">
            <odell-input size="small" inputName='cost' type="number"  [formControlInput]="formControlName('cost')" >Costo</odell-input>
            <odell-input size="small" inputName='price'  type="number" [formControlInput]="formControlName('price')">Precio</odell-input>

        </div>

        <div class="row" *ngIf="formControlName('type').value != 0">
            <div class="container-materials">
                <div class="hours">
                    <odell-input size="small" inputName='horas' [formControlInput]="formControlName('horas')" type="number">Horas</odell-input>
                </div>
                <div class="materials" formArrayName="materials">
                    <div class="material"  *ngFor="let material of materials.controls; let i = index" [formGroupName]="i">
                        <odell-input size="small" inputName='gramos' [formControlInput]="formControlName('materials',i ,'gramos')" type="number">Gramos</odell-input>
               
                        <odell-select inputName="material" [formControlInput]="formControlName('materials',i ,'material')">
                            <label>Material</label>
                            <option [value]="null">Sin material</option>
                            <option *ngFor="let material of $materials | async" [value]="material.id">{{ material.name }}</option>
                        </odell-select>
                        <div *ngIf="i === (materials.controls.length - 1); else tacho " class="icon plus" (click)="addMaterial()">
                            <fa-icon [icon]="iconsPlus" ></fa-icon>
                        </div>

                        <ng-template #tacho>
                            <div class="icon tacho" (click)="removeMaterial(i)">
                                <fa-icon [icon]="iconsTrash" ></fa-icon>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" *ngIf="formControlName('type').value != 0">
            <div class="container-supplements">
                <div class="autocomplete">
                    <odell-autocomplete [listOptions]="$suplementsAutocomplete | async" (optionSelected)="addListSelected($event)">Suplementos</odell-autocomplete>
                </div>
                <div class="listSelected">
                <div class="extra" *ngFor="let extra of extras.controls ; let i = index">
                       <span>{{ extra.value.supplement.name }}</span>
                       <odell-input size="small" inputName='cant' [formControlInput]="formControlName('extras', i ,'cant')" type="number">Cantidad</odell-input>
                       <fa-icon [icon]="iconCross" (click)="deleteExtra(i)"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row" *ngIf="formControlName('type').value != 0">
            <div class="photos">
                <div class="preview">
                    <ng-container *ngIf="productForm.get('files')?.value.length > 0 ; else noFiles">
                        <div *ngFor="let file of productForm.get('files')?.value; let i = index" class="ctn-image">
                            <div class="drop-image" (click)="dropFile(i , 'files')">
                                <fa-icon [icon]="iconsTrash"></fa-icon>
                            </div>
                            <div class="icon">
                                <fa-icon [icon]="fileIconName(file)"></fa-icon>
                                 <span>{{file.name}}</span>
                            </div>
                        </div>
                    </ng-container> 
                </div>
                <div class="btn">
                    <odell-file filesAcepted=".3mf,.stl,.obj,.zip,.rar" inputName="file3mf" [multiple]="true" (filesChange)="selectEMF($event)">
                        <div class="icon-text">
                            <span>Archivo</span>
                            <fa-icon [icon]="iconFilePlus"></fa-icon>
                        </div>
                      </odell-file>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="input">
                <label>Suplement</label>
                <input type="checkbox"  formControlName="supplement" id="">
            </div>
            <div class="input">
                <label>Product</label>
            <input type="checkbox" formControlName="product" id="">
            </div>
    
        </div>
    
        <div class="row">
            <div class="photos">
                <div class="preview">
                    <ng-container *ngIf="productForm.get('photos')?.value.length > 0 ; else noFiles">
                        <div *ngFor="let photo of productForm.get('photos')?.value; let i = index" class="ctn-image">
                            <div class="drop-image" (click)="dropFile(i , 'photos')">
                                <fa-icon [icon]="iconsTrash"></fa-icon>
                            </div>
                            <img [src]="getImagePreview(photo)" alt=""/>
                        </div>
                    </ng-container>
                </div>
                <div class="btn">
                    <odell-file inputName="fotos"  filesAcepted="image/*" [multiple]="true" (filesChange)="onFileChange($event)">
                        Fotos
                    </odell-file>
                </div>
            </div>
        </div>
      
 
        <odell-button typeButton="submit" [disabled]="productForm.invalid">Agregar Producto</odell-button>
      </form>
</odell-form>


<ng-template #noFiles>
    <div class="noFiles">
        <span>No se encuentran archivos</span>
    </div>
</ng-template>
