:host{
    width: 700px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    form{
        display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            flex-flow: column;
            .row{
                display: flex;
                align-items: flex-end;
                justify-content: center;
                gap: 8px;
                width: 100%;
            }
            .container-supplements{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                .autocomplete , .listSelected{
                    width: 50%;
                    box-sizing: border-box;
                }

                .listSelected{
                    display: flex;
                    flex-wrap: wrap;  /* Permite que los elementos se desplacen a una nueva fila cuando no haya espacio */
                    gap: 10px;
                    .extra{
                        padding: 5px 10px;
                        background-color: #929292;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        gap: 20px;
                    }:hover{
                        background-color: #b1b1b1;
                    }
                }
            }
            .container-materials{
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                .hours{
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-end;
                    margin-right: 12px;
                    height: 100%;
                }
                .materials{
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-flow: column;
                    width: 50%;
                    .material{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 8px;
                        width: 100%;
                        odell-select{
                            width: 100%;
                        }
                    }
                    .icon{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        margin-top: 20px;
                        background-color: rgb(44, 160, 106);
                        padding: 5px 7px;
                    }
                    .tacho{
                        background-color: rgb(247, 85, 85);
                
                    }
                    
                }
            }

    }
}