:host{
    height: 100vh;
    display: block;
    .row{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: inset 2px 2px 2px #000;
        width: 100%;
        box-sizing: border-box;
    }
    .notifications{
        width: 30vw;
        position: absolute;
        bottom: 100px;
        transform: translateX(-30vw);
    }
}