:host{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    flex-flow: column;
    width: 100%;
    select{
        min-width: 100px;
        width: 100%
    }
    label{
        white-space: nowrap;
        box-sizing: border-box;
        text-align:start;
        width: 100%;
    }
}