


<odell-card-resume>
    <p>total adquirido</p>
</odell-card-resume>
<odell-card-resume>
    <p>ganancia mensual</p>
</odell-card-resume>
<odell-card-resume>
    <p>promedio gasto mensual</p>
</odell-card-resume>


<div class="grafico-visitantes">
    <p>grafico visitantes</p>
</div>

<div class="grafico-torta-proyecto-con-mas-ventas">
    <p>proyectos con mas ventas</p>
</div>

<div class="pedidos">
    <odell-list-orders>
        <h3>
            Pedidos
        </h3>
    </odell-list-orders>
</div>