<ng-container>
    <odell-form>
        <span>Filamento</span>
        <form [formGroup]="filamentForm" (ngSubmit)="onSubmit()" class="form" *ngIf="!isLoading">
            <div class="row">
                    <odell-input size="small" type="number" inputName='kgMaterial' [formControlInput]="formControlName('kgMaterial')" >Kg</odell-input>
                    <odell-input size="small" type="number" inputName='price' [formControlInput]="formControlName('price')" >price</odell-input>
                    <odell-input size="small" type="number" inputName='stock' [formControlInput]="formControlName('stock')" >Stock</odell-input>
                    <odell-select inputName="color" [formControlInput]="formControlName('color')" >
                        <label>colors</label>
                        <option [value]="null">sin color</option>
                        <option *ngFor="let color of colorOptions; " [value]="color.id">{{color.name}}</option>
                    </odell-select>
    
                    <odell-select  inputName="brandFilament" [formControlInput]="formControlName('brandFilament')">
                        <label>Marca Filamento</label>
                        <option [value]="null">sin marca</option>
                        <option *ngFor="let brand of brandOptions" [value]="brand.id">{{brand.name}}</option>
                    </odell-select>
    
                    <odell-select  inputName="typeMaterial" [formControlInput]="formControlName('typeMaterial')">
                        <label>Typo Filamento</label>
                        <option [value]="null">sin material</option>
                        <option *ngFor="let materialType of materialOptions" [value]="materialType.id">{{ materialType.name}}</option>
                    </odell-select>
            </div>
            <odell-button typeButton="submit" [disabled]="filamentForm.invalid">Agregar Filamento</odell-button>
          </form>
    </odell-form>
</ng-container>

