/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;   
    font-family: "Roboto Condensed", serif;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    margin: 0px;
    padding: 0px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px #000;
    width: 100%;
    box-sizing: border-box;
}

h3{
    padding: 0px;
    margin: 0px;
}

.show{
    animation: show .5s;
    transform: translateX(32vw);
}

.hidden{
    animation: hidden .5s;
    transform: translateX(0px);
}


@keyframes show {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(32vw);
    }
  }


  @keyframes hidden {
    from {  
        transform: translateX(32vw);
    }
    to {
        transform: translateX(0px);
    }
  }
